body {
    font-family: Arial, sans-serif;
}

div a, div a:visited {
    color: #333333;    
}

.wrapper {
    width: 330px;
}

#control {
    margin-bottom: 5px;
}

#control a, #control a:visited {
    color: black;
}

#buttons {
    display: inline-block;
    float: right;
}

#addentry, #modentry, #settings, #login {
    border: 5px solid #ececec;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 5px;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}

table {
    font-size: 0.9em;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

#contacts {
    border: 5px solid #ececec;
}

.contact {
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #999999;
    background-color: white;
    padding: 5px;
    margin: 3px;
    position: relative;
    font-family: Verdana, serif;
    font-size: 0.8em;
}

.contact_name {
    font-weight: bold;
}

.contact_details {
    font-size: 0.8em;    
}

.contact_details a, .contact_details a:visited {
    color: blue;
}

.contact_operations {
    width: 1.2em;
    position: absolute;
    text-align: center;
    padding: 3px;
    right: 0;
    top: 0;
}
