<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Vue -->
    <!-- development version, includes helpful console warnings -->
<script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>

<script src="src/game.js"></script>
<script src="src/gamestat.js"></script>
<script src="src/board.js"></script>

<link rel="stylesheet" href="style.css">

    <title>Vue Memory</title>
</head>
<body>
    <div id="app">
        <div id="startbutton" v-if="showStart"
        v-on:click="start">Start game</div>
        <game-stat v-if="showGameState"></game-stat>
        <board v-if="showBoard" v-on:finished="finish"></board>
        <div v-if="showWinner" class="winner">
            The winner is {{ winner }}!
        </div>


    </div>

    <script>
        const app = Vue.createApp({
            // the data used in this app
            data: function(){
                return { 
                    state: "start"
                }
            },
            methods: {
                start: function(){
                    if (this.state != "running"){
                        this.state = "running";
                        theGame.reset();
                    }
                },
                finish: function(){
                    if (this.state == "running"){
                        theGame.end();
                        this.state = "finished";
                    }
                }
            },
            computed: {
                showStart: function(){
                    return (this.state=== "start" || this.state === "finished");
                },
                showGameState: function(){
                    return (this.state === "running" || this.state === "finished");
                },
                showBoard: function(){
                    return this.state=== "running";
                },
                showWinner: function(){
                    return this.state === "finished";
                },
                winner: function(){
                    return theGame.players[theGame.winner];
                }
            }
        });
        app.component('board', boardC);
        app.component('game-stat',gameStatC);
        app.mount("#app");
    </script>
</body>
</html>