/* write CSS here */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0px;
    font-family: "Verdana", sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2, h3 {
    font-family: "Open Sans", sans-serif;
}

#header, #content, #footer {
    padding-left: 10px;
    padding-right: 10px;
}


/* --- HEADER --- */

#header {
    background-color: royalblue;
    color: white;
    text-shadow: 2px 2px 4px #333;
    border: 5px outset lightblue;
}

#header h1 {
    margin-bottom: 0px;
}

#header h2 {
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 0px;
}


/* --- CONTENT --- */

#content h2 {
    border-bottom: 1px solid #999999;
}

.rank {
    background-color: black;
    color: white;
}

#content p {
    text-align: justify;
    text-indent: 2em;
    color: #999999;
}

#content p::first-line {
    color: black;
}


/* --- FOOTER --- */

#footer {
    font-size: 0.8em;
    background-color: black;
    color: white;
}

#footer a {
    color: white;
}

#footer ul {
    list-style-type: circle;
}

/* first list element */
#footer ul li:first-child {
    list-style-type: disc;
}

/* second list element */
#footer ul li:nth-child(2) {
    list-style-type: disc;
    font-weight: bold;
}

#footer p {
    text-align: center;
    color: yellow;
    font-style: oblique;
}
