<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Vue -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>

    <title>Solution: Vue Exercise 4</title>
    <style>
        .counter {
            border: 1px solid gray;
            padding: 10px;
            overflow: auto;
        }
        .counter span {
            margin-right: 10px;
        }
        .counter_container {
            width: 300px;
            margin: 30px auto;
        }
        .counter_container>* {
            margin-bottom: 30px;
        }
        .category {
            float: right;
        }
        a {
            color: black !important;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="counter_container">
            <div>
                <fieldset>
                    <legend>New category</legend>
                    <label for="name">Name</label>
                    <input type="text" id="name" v-model="new_cat">
                    <br>
                    <button v-on:click="newCategory">Add category</button>
                </fieldset>
                <fieldset>
                    <legend>Show</legend>
                    <span v-for="cat in categories">
                        <input type="checkbox" 
                            v-bind:id="cat.value" 
                            v-bind:value="cat.value"
                            v-model="show_categories">
                    <label v-bind:for="cat.value">{{ cat.text }}</label>
                    </span>
                </fieldset>
                <fieldset>
                    <legend>New counter</legend>
                    <label for="title">Title</label>
                    <input type="text" id="title" v-model="new_title">
                    <br>
                    <span>Categories</span>
                    <span v-for="cat in categories">
                        <input type="checkbox" v-bind:id="cat.value" v-bind:value="cat.value" v-model="new_count_categories">
                        <label v-bind:for="cat.value">{{ cat.text }}</label>
                    </span>
                    <br>
                    <button v-on:click="add">Add counter</button>
                </fieldset>
                <fieldset>
                    <legend>Other</legend>
                    <button v-on:click="addToAll">Add to all</button>
                </fieldset>
            </div>
            <div class="counter" v-for="(item, index) in showCounts">
                <span id="count" class="count">{{ item.count }}</span>
                <span><button v-on:click="increment(index)">Add</button></span>
                <span>{{ item.title }}</span>
                <a href="" class="category" v-on:click.prevent="remove(index)">X</a>
                <span class="category" v-for="cat in item.categories">#{{ cat }}</span>
                
            </div>
            <div v-if="(counts.length == 0)">
                <span>No counter added.</span>
            </div>
        </div>
    </div>

    <script>
        Vue.createApp({
            data: function(){ 
                return {
                    counts: [],
                    new_title: null,
                    new_count_categories: [],
                    categories: [
                        { text: "Todo", value: "todo"},
                        { text: "Home", value: "home"},
                        { text: "Work", value: "work"}
                    ],
                    new_cat: null,
                    show_categories: []
                }
            },
            computed: {
                showCounts: function(){
                    let cats = this.show_categories
                    if (!cats || cats.length == 0)
                            return this.counts;
                    return this.counts.filter((value)=>{
                        for (let cat of this.show_categories){
                            if (value.categories.indexOf(cat) != -1){
                                return true;
                            }
                        }
                        return false;
                    })
                }
            },
            methods: {
                increment: function(index){
                    this.counts[index].count++;
                },
                add: function(){
                    this.counts.push({   
                        count: 0, 
                        title: this.new_title,
                        categories: this.new_count_categories
                    });
                    this.new_title = null;
                },
                addToAll: function(){
                    for (let i=0; i< this.counts.length; i++){
                        this.increment(i);
                    }
                },
                newCategory: function(){
                    if (this.new_cat){
                        this.categories.push({
                            text: this.new_cat,
                            value: this.new_cat.toLowerCase()
                        });
                    }
                    
                }
            }
        }).mount("#app");
    </script>
</body>
</html>