{% extends "base.html" %}

{% block content %}
    <h1>Register new grades</h1>
    {% if msg is defined %}
        <p class="success">{{ msg }}</p>
    {% elif grades_error is defined %}
        <p class="error">{{ grades_error }}</p>
    {% endif %}
    <form action="../add_grade.html" method="POST">
        <label for="course">Course</label>
        <select name="course" id="course">
            {% for course in courses %}
                {% if loop.index == 1 and loop.length > 1 %}
                <option value="" selected>Select</option>
                {% endif %}
                <option value="{{ course.course_id }}">{{ course.course_id }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="stud">Student</label>
        <select name="stud" id="stud">
            
            {% for student in students %}
                {% if loop.index == 1 and loop.length > 1 %}
                <option value="" selected>Select</option>
                {% endif %}
                <option value="{{ student.student_no }}">{{ student.student_no }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="grade">Grade</label>
        <select name="grade" id="grade">
            <option value="" selected>Select</option>
            {% for grade in ['A','B','C','D','E','F'] %}
                <option value="{{ grade }}">{{ grade }}</option>
            {% endfor %}
        </select><br>
        <label></label>
        <input type="submit" value="Submit">
        {% if students|length == 1 %}
            <input type="hidden" name="type" value="student">
        {% elif courses|length == 1 %}
            <input type="hidden" name="type" value="course">
        {% endif %}
    </form>

    <a href="{{ url_for('index') }}">main</a>
{% endblock %}