<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 6: Gradebook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    
    <h1>Courses</h1>
    {% for course in courses  | sort(attribute='course_id') %}
        {% if loop.first %}
            <table>
                <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td><a href="{{ url_for('course_grades', course_id= course.course_id) }}">{{ course.course_id }} </a> </td>
                <td>{{ course.name }}</td>
            </tr>
        {% if loop.last %}
            </tbody>
            </table>
        {% endif %}
    {% else %}
        <em>No students enroled.</em>
    {% endfor %}

    <h1>Students</h1>

    {% for student in students | sort(attribute='student_no') %}
        {% if loop.first %}
            <table>
                <thead>
                    <tr>
                        <th>Student no</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td><a href="{{ url_for('student_grades', student_no= student.student_no) }}">{{ student.student_no }} </a></td>
                <td>{{ student.name }}</td>
            </tr>
        {% if loop.last %}
            </tbody>
            </table>
        {% endif %}
    {% else %}
        <em>No students enroled.</em>
    {% endfor %}

    <a href="{{ url_for('student_form') }}">add new student</a>

 
</body>
</html>