{% extends "base.html" %}

{% block content %}
    <h1>Grades for {{ student.name }}</h1>
    {% for grade in grades %}
        {% if loop.first %}
            <table>
                <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td>{{ grade.course_id }} </td>
                <td>{{ grade.grade }}</td>
            </tr>
        {% if loop.last %}
            </tbody>
            </table>
        {% endif %}
    {% else %}
        <em>No grades registered.</em>
    {% endfor %}

    <form action="../add_grade.html" method="get">
        <input type="text" name="student" value="{{ student.student_no}}" hidden>
        <input type="submit" value="add grade">
    </form>
    

{% endblock %}